
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
}
.p1{
    font-family:'Times New Roman', Times, serif;
    font-style:italic;
    color: rgb(255, 0, 0);
    z-index: 2;
    align-self: center;
    font-size: larger;
    text-shadow: 1px 1px goldenrod;
    font-size: calc(3.2em + 1vw + 1vh);
    font-weight: bold;
  }
  .p2{
    font-family:'Times New Roman', Times, serif;
    font-style:oblique;
    color: rgb(0, 241, 80);
    z-index: 2;
    align-self: center;
    font-size: larger;
  }
  .p3{
    font-family:'Times New Roman', Times, serif;
    font-style:inherit;
    color: rgb(255, 0, 0);
    z-index: 2;
    align-self: center;
    font-size: larger;
  }

div{
    position: absolute;
    margin-left: 20%;
    top: 30;
    right: -6%;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background: transparent;
    z-index: 1;
    -webkit-transition: all 1.5s ease;
}

div:active,div:hover{
    opacity:1;
    
}



img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   object-fit: contain;
   object-position: 60% 10%  ;
   transition: all 1.5s ease;
   z-index: 0;
   
   
 
}

   

@media all and(oritentation:landscape) {
    img,div{
        width: 40vh;
        margin-left:calc(50 vw-35vh);
    }
    
}