body{
    background-color: beige;
}

.bloque{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hola1{
   
  
    width: 50%;
    flex-direction: row;
  
    

    
}

.hola2{
   
   
    width: 50%;
    margin-left: auto;
    text-align: right;

    
}

.hola3{
    position: absolute;
    top: 80%;
    width: 50%;
    height: auto;
    flex-direction: column;

    
}

.hola4{
    position: absolute;
    top: 80%;
    left: 49%;
    width: 50%;
    text-align: right;

    
}


