
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 50% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

/* vamos a poner un hover para que cuando pases el rato se resalte en algun culor

*/ 

div:hover{

    background-color: aqua;

}

/* paso 3 vamos a duplicar el tamaño de la primera letra*/ 

div:first-letter{
    float: left;
  font-size: 3.5em;
  line-height: 1;
  margin: 0.2rem;
  padding: 1rem;
 

  
}

/*Paso 4 hacer zoom de 1.2 al parrafo que pinchemos 
ejemplo 
#my{
zoom: 100%;
}*/ 

div:active{
    zoom: 200%;
}

/* paso 5  ponemos en el html un parrafo inmediatamente debajo del titulo con visibility:none para que no se vea. que diga
: Fito& los Fitipaldis - 
ponemos body mayor que p,nth child para que coja el espacio que queremos y haga algo */

body>p:nth-child(2){

 
    visibility:hidden;

}



/*paso 6 poner en cursivas en el titulo de la canción con target */

body>p:target{
    color: red;
    visibility: visible;
    font-style: italic;
    
    text-decoration: underline;
}

 
